rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /restaurants/{restaurantId} {
      allow read: if true;
    }
    match /restaurants/{restaurantId}/ratings/{uid} {
    	allow read,write: if request.auth.uid == uid;
    }
  }
}